<main class="post-background">
  <h1><span class="post-index-heading heading"><%= @customer.nickname %>の 回答先 <i class="far fa-comments"></i></span></h1>
  <div class="container">
    <div class="shadow" id="customer_ansewers">
      <%= render "public/customers/customer_ansewer", customer: @customer, ansewers: @ansewers %>
    </div>
  </div>
  <div class="kaminari-btn"><%= render "layouts/kaminari", model: @ansewers %></div>
</main>