<main class="customer-index-background">
  <h1><span class="post-index-heading heading"><%= @customer.nickname %>уБо Outlet Post <i class="fas fa-volume-up"></i></span></h1>
  <div class="container">
    <div class="shadow" id="customer_post">
      <%= render "public/customers/customer_post", posts: @posts %>
    </div>
  </div>
  <div class="kaminari-btn"><%= render "layouts/kaminari", model: @posts %></div>
</main>