<% if @path.is('search#search') %>
  <h3 class="serched"><%= "[#{@selected}] を「#{@content}」で検索の結果" %></h3>
<% end %>
<main class="post-background">
  <h1 class="text-center"><span class="post-index-heading heading">みんなの Outlet Post <i class="fas fa-volume-up"></i></span></h1>
  <div class="container" id="customer_post_index">
    <%= render "public/posts/index_page", posts:  @posts %>
  </div>
  <div class="kaminari-btn">
    <%= render "layouts/kaminari", model: @posts %>
  </div>
</main>
