<h1>ここは投稿一覧、トップページです</h1>
<div class="container">
  <table class="table">
    <% @posts.each do |post| %>

      <tbody>
        <td><%= attachment_image_tag(post.customer, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></td>
        <td><%= post.customer.nickname %></td>
        <td>タイトル</td>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.ansewers.count %>回答</td>
      </tbody>

    <% end %>
  </table>
</div>