<main class="about-bg">
  <div class="about-img d-flex align-items-center justify-content-center">
    <h1 class="text-light text-center">
      Outlet Postとは<br>
       みなさんの心のはけ口
    </h1>
  </div>
  <div class="text-center py-5 text-light">
    <h2 class="">何故このサイトを作ったか</h2>
    <p class="reason">
      私は前職で地元を離れ都内で料理人として働いていました。新人の頃はお金、時間共になく <br>
      職場ではシェフからの暴力などもあり、ストレスの溜まる日々でした。<br>
      当時の同期、先輩、後輩みんな退職してしまい地元を離れた事もあり近くに愚痴を言う相手もいない<br>
      当時はSNSで知り合った方達の励ましに大変救われました！<br>
      今度はそういう辛い思いをしている方を私が少しでも救いたい！心のはけ口としてこのサイトを利用してもらい！<br>
      と思い制作しました。是非皆様に利用して貰えたらいいなと思います<i class="fab fa-itunes-note"></i>
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-center flex-direction：column">
    <p class="text-light border p-2">管理人からのお願い</p>
    <ul class="text-light">
      <li>基本的に相手を傷付ける投稿、回答などはしないでください。</li>
      <li>卑猥な発言や出会い目的は禁止しています。（場合によっては削除対象）</li>
      <li>相手を慰める認めてあげる憩いの場を実現していきたいです。</li>
      <li>心に溜め込んだものはここで全て吐き出してしまいましょう！</li>
    </ul>
  </div>
</main>