<main class="notice-customer-bg">
  <div class="container-fluid text-light">
    <div class="row">
      <div class="offset-2 col-8">
        <h1 class="py-5 text-light text-center">＜ーお知らせ一覧ー＞</h1>
        <% if @notices.blank? %>
          <h1 class="text-center mt-5 pt-5">現在表示するお知らせはありません</h1>
        <% else %>
          <table class="table table-dark text-center table-hover border-notice">
            <thead>
              <tr>
                <th>投稿日</th>
                <th>タイトル</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="customer_contact">
              <%= render "public/homes/index_page", notices: @notices %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
    <div class="kaminari-btn"><%= render "layouts/kaminari", model: @notices %></div>
  </div>
</main>



