<% if @path.is('search#search') %>
  <h3 class="serched"><%= "[#{@selected}] を「#{@content}」で検索の結果" %></h3>
<% end %>
<main class="admin_customer_bg">
  <h1 class="admin-text text-center">会員一覧ページ</h1>
  <div id="admin-customer-index">
    <%= render 'admin/customers/customer_index', customers: @customers %>
  </div>
  <div class="kaminari-btn"><%= render "layouts/kaminari", model: @customers %></div>
</main>