<% if @path.is('search#search') %>
  <h3 class="serched"><%= "[#{@selected}] を「#{@content}」で検索の結果" %></h3>
<% end %>
<main class="admin_post_bg">
  <h1 class="text-center">投稿一覧ページ</h1>
  <div class="container-fluid" id="admin-post-index">
    <%= render "admin/posts/post_index", posts: @posts %>
  </div>
  <div class="kaminari-btn"><%= render "layouts/kaminari", model: @posts %></div>
</main>