{"filter":false,"title":".gitignore","tooltip":"/OutletPost/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":62.5,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":53,"mode":"ace/mode/ini"}},"hash":"ca4358f366636e7dbc5ad08ea7225a1aec55a43b","timestamp":1617788320054}