/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
  font-style: italic;
  font-weight: bolder;
}

a {
  color: #000000;
}

.heading {
  text-shadow:1px 1px 0 #00FFFF,-1px 1px 0 #f00,1px -1px 0 #f00,-1px -1px 0 #f00;
  color: #FF8C00;
}
// フラッシュメッセージ
.flash {
  font-size: 30px;
  text-align: center;
  background-color: rgba(255,204,51,0.7);
}

// ページャー
.pagination {
  justify-content: center;
  text-shadow:1px 1px 0 #000000,-1px 1px 0 #000000,1px -1px 0 #000000,-1px -1px 0 #000000;
  color: #99FFFF;
}
.pagination > span{
  color: #99FFFF;
  height: 50px;
  width: 50px;
  line-height: 46px;
  margin: 10px;
  border: 2px solid #000000;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
}

.pagination > .next,
.pagination > .last {
  width: 90px;
}

.pagination > span > a {
  color: #99FFFF;
  display: block;
}

.pagination > .current {
  color: #003399;
  border: 2px solid #000000;
  background-color: rgba(0,0,0,0.5);
}



main {
  padding: 50px 0;
}

.logo > a {
  text-decoration: none;
  color: #fafafa;
  text-shadow: 0 0 10px #FF66FF;
  line-height: 70px;
  font-size: 28px;
  border: 1px solid #FFCCFF;
  box-shadow: 10px 5px 5px #FF99CC;
  padding: 8px;
  border-radius: 10px;
}

.nav-list >a {
  text-decoration: none;
  color: #fafafa;
  text-shadow: 0 0 10px #FF66FF;
  font-size: 20px;
  padding: 5px;
  display: block;
}

header {
  background: linear-gradient(to bottom right, #CCFFFF, #FFFF66);
  border-bottom: 6px solid #CCFFCC;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center
}


.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

nav {
  margin: 0 0 0 auto;
  list-style: none;
}

.nav-list {
  display: inline;
  line-height: 70px;
  font-size: 16px;
  margin: 0 30px;
}

.link-btn {
  color: #000033;
  background-color: #CCFFFF;
}
// 新規登録画面、ログイン画面の背景画像
.sing-background {
  background-image: image-url("seljalandsfoss-1751463.jpg");
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: bottom center;
}


// ログイン画面
.headig {
  background: linear-gradient(to bottom right, rgba(0,51,255,0.6), rgba(204,255,255,0.7));
  padding: 10px 40px;
  border: 1px solid #FFCC00;
  color: #FFFFFF;
}
.head-top {
  padding: 80px 0 50px 0;
}

.head-title {
  border: thick double #32a1ce;
  border-radius: 10px 100px / 120px;
  padding: 5px 15px;
  background-color: rgba(255,255,153,0.55);
}

// 新規登録画面のフォーム
input[type="text"] {
        width: 200px;
        height: 40px;
    }

input[type="email"] {
        width: 300px;
        height: 40px;
    }

input[type="password"] {
  width: 280px;
  height: 40px;
}

// 作成ボタン
.btn-warning {
  background: #FFFF88;
  font-family: italic;
}

.btn-warning:hover, .btn-warning:focus,
.btn-warning:active, .btn-warning:active:focus, .btn-warning:active:hover, .btn-warning:active.focus,
.btn-warning.active, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning,
.open > .dropdown-toggle.btn-warning:hover,
.open > .dropdown-toggle.btn-warning:focus,
.open > .dropdown-toggle.btn-warning.focus,
.btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus, .btn-waring[disabled].focus, fieldset[disabled] .btn-waring.focus {
    background: #FFFF00;
}
// 新規投稿
.post-new-bg {
  background-image: image-url("blue.jpg");
  background-attachment: cover;
  padding: 100px 0 100px;
}
.field-title > label,
.field-body > label {
  margin: 30px 0 0;
}

.field-title > input {
  width: 600px;
}

.field-body > textarea {
  width: 600px;
}

table {
  background-color: rgba(204,255,255,0.5);
}
// aboutページ

.about-bg {
  background-color: #333333;
}

.about-img {
  background-image: image-url("tokyo2.jpg");
  ackground-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.reason {
  border: 2px solid #FFFFFF;
  width: 70%;
  padding: 15px;
  margin:0 auto;
}


// 投稿一覧
.shadow  {
  text-shadow: 0 6px 7px rgba(0,0,0,0.7);
}

.post-background {
  background-image: image-url("blue.jpg");
  background-attachment: cover;
  padding: 100px 0 300px;
}
.post-index-heading {
  margin: 0 0 20px 20px;
  background-size: cover;
  background-position: bottom center;
}

// 投稿詳細
.post-show-background {
  background-color: rgba(204,204,204,0.5);
  background-size: cover;
}
.post-title {
  text-align: center;
  border: 2px solid #6699FF;
  padding: 10px;
  background-color: rgba(204,255,255,0.5);
}
.post-content {
  padding: 5px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.post-content-box {
  border: 2px solid #6699FF;
  background-color:#FFFFFF;
  padding: 20px;
  width: 100%;
}

.post-infor {
  background-color: rgba(204,255,255,0.5);
}


// // 回答機能
.best-btn {
  display: inline-block;
  width: 130px;
}

.best_ansewer {
  color: #FFFF33;
  text-shadow: 0 0 5px #FF66FF;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(204,255,255,0.5);
}

.ansewer-name {
  font-size: 20px;
  padding: 10px;
  background-color: rgba(204,255,255,0.5);
}


.post-edit-bg {
  background-image: image-url("blue.jpg");
  background-attachment: cover;
  padding: 130px 0 200px;
}

// 会員ページ


.customer-container {
  height:900px;
}

.customer-background {
  background-color: rgba(255,255,170,0.5);
  padding-bottom: 130px;
}

.customer-unsubscribe{
  background-color: rgba(255,255,170,0.5);
  height: 90vh;
}

.img-box1 {
  background-image: image-url("sky.jpg");
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
}

.img-box2 {
  background-image: image-url("schrecksee-2534484__480.jpg");
  background-size: cover;
  background-position: center center;
  height: 115px;
  width: 100%;
}

.customer-title {
  font-size: 20px;
  padding: 10px;
  background-color: rgba(204,255,255,0.5);

}

// ランキングページ
.ranking-background {
  background: linear-gradient(to bottom right, #FFFF33, #FFFFFF);
  background-attachment: cover;
  padding: 100px 0 300px;
}
.top-rank {
  font-size: 25px;
}

.rank-1 {
  color: #FFFF00;
}
.rank-2 {
  color: #EEEEEE;
}
.rank-3 {
  color: #CD853F;
}
.rank-4 {
  color: #6495ED;
}
.rank-5 {
  color: #6A5ACD;
}

.rank-out {
  color: #8A2BE2;
}

.rank_name >a {
  color: #FFFFFF;
}

.rank_link {
  color: 	#9BF9CC;
  font-size: 25px;
}

.rank_link > a {
  color: 	#00F9A9;
}


// 管理者側

.admin-text{
  color: #FFFFFF;
}


// 管理者トップ画面（会員一覧）
.admin_customer_bg {
  background-color: #666666;
  padding: 100px 0 300px;
}


// 管理者投稿一覧

.admin_post_bg {
  background-color: #C0C0C0;
  padding: 100px 0 300px;
}

.admin_post_show_bg {
  background-color: #C0C0C0;
  padding: 100px 0 100px;
}


footer {
  background: linear-gradient(to bottom right, #CCFFFF, #FFFF66);
  border-top: 6px solid #CCFFCC;
  width: 100%;
  height: 70px;
  text-align: center;
}

footer > p {
  line-height: 70px;
  text-decoration: none;
  color: #000000;
}

footer > p > a{
  color: #000000;
}